/*
PALETA DE COLORES DE OSCURO A CLARO  
#8e7e89  ALTO
#a0909b  ALTO-BAJO
#b3a2ae  MEDIO
#c5b4c0  MEDIO-BAJO
#f8f9fa  BAJO blanco
/*/
/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    background-color: #f8f9fa;
    color: #343a40;
    height: 100%;
}

body p {
    color: #343a40;
}


/*.visible de Header Pc*/
.container .header #navPc .visible {
    display: none;
}

/*Botones*/
#abrir {
    display: none;
}

.container .header #cerrar,
.container .header #abrir {
    width: 3em;
    height: 2em;
    background: none;
    border: none;
}

.container .header #abrir:hover {
    background-color: #6c757d;
}

/*Fin botones**/

/* Header */
.header a:hover {
    background-color: #5b6874;
}

/*Header/Controla la posicion*/
.header {
    width: 100%;
    position: fixed;
    top: 0em;
    z-index: 1000;
}

.header {
    display: flex;
    background-color: #343a40;
    /* Color de fondo para el encabezado */
    padding: 0.5em;
    align-items: center;
    justify-content: space-between;
}

.header a {
    /*Links */
    color: #f8f9fa;
    text-decoration: none;
}

.container .header nav ul {
    /*Barra de nav*/
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: 2em;
    gap: 1em;
}

.header nav ul li a {
    /*Linkd de .header/nav*/
    padding: 0em 1em 0em 1em;
    font-size: medium;
}

/*-----------MOVIL--------------*/
/*Nav para menu movil ---------------------------------------------- */
.container .header #navMovil,
.botonCerrar #cerrar .visible {
    display: block;
}

.header #navMovil .visible {
    display: block;
    opacity: 1;
    visibility: visible;
}

/**/
.container .header #navMovil {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 2.7em;
    left: 0em;
    background-color: yellow;

}


/*div .movil*/
/*dentro de #navMovil contiene el texto*/
#navMovil .movil {
    background-color: #343a40;
    text-align: center;
    width: 100%;
    height: 100%;
}

#navMovil .movil ul {
    display: block;
    width: 100%;
    
} 
#navMovil  .movil ul li a{
display: flex;
flex-direction: column;
padding: 0;
    }
    #navMovil  .movil ul li a h3{
    margin: 0;
        }

/*boton*/
#navMovil .botonCerrar {
    background-color: turquoise;
    position: fixed;
    width: 100%;
    top: 96.4%;
    left: 0em;
}

#navMovil .botonCerrar #cerrar {
    width: 100%;
}


/*Fin nav Movil*/
/******/

/*------------------  MAIN---------------*/
.main {
    margin-top: 2.6em;
    padding-top: 1em;
    padding-left: 0em;
    padding-right: 0em;
    align-content: center;
}

/* Sección Acerca de mí---------------------------------------------- */
.main .section-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8f9fa;
    padding: 1em;
    margin-top: 0em;
    text-align: center;
}

/*Dentro de section-about*/
/*Foto Perdil*/
.main .section-about .foto {
    padding: 0em 1em 0em 1em;
}

.main .section-about .foto img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

/*Acerca de mi, texto  */
.section-about .acerca-de {
    max-width: 80%;
    width: 0 auto;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* Sombra ligera */
}

.section-about h2 {
    margin-top: 0;
}

.section-about p {
    font-size: medium;
}

/*fin de section-about*/
/**/
/* Sección Información Personal */
.seccionPersonalInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: 1em;
}

/* Tarjetas */
.seccionPersonalInfo .datos {
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f9fa;
    width: 40%;
    height: auto;
    /* Color de fondo para la sección Información Personal */
    padding: 2em;
    margin: 1em;
    background-color: #d1d1d1;
    position: relative;
    box-shadow: 0 0 5px #343a40;
}

/*Titulo de tarjeta */
.seccionPersonalInfo .datos h3 {
    position: absolute;
    top: -2em;
    left: 1.6em;
    padding: 0.5em 1em;
    background-color: #d1d1d1;
    box-shadow: 0 0 5px #343a40;
}

.seccionPersonalInfo ul {
    list-style: none;
    padding: 0;

}

.seccionPersonalInfo ul li {
    margin: 0px;
    margin-bottom: 10px;
}

.seccionPersonalInfo ul li a {
    color: #343a40;
    /* Color de enlace para los enlaces de Información Personal */
}

.seccionPersonalInfo .redes {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.seccionPersonalInfo .datos .datosPersonales,
#secundario1 {
    font-size: 1.3em;
}

.seccionPersonalInfo #redes {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

/*Fin section-personal-info*/
/*aptitudesDescatadas*/
.aptitudesDestacadas {
    background-color: #f8f9fa;
    padding: 1em;
    box-shadow: 0 0 3px #343a40;

}

/*Titulo aptitudes*/
.aptitudesDestacadas h3 {
    margin-top: 0;
    margin-bottom: 1em;
}

/*Lista de aptitudes*/
.aptitudesDestacadas ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
    justify-content: space-around;
    background-color: #f8f9fa;
    font-size: 1.1em;
    border-radius: 0.4em;
    box-shadow: 0 0 10px #343a40;
    padding: 1em;
    list-style: none;
}

.aptitudesDestacadas ul li {
    font-style: oblique;
}

/*Fin aptitudesDestacadas*/
/**/
/*Seccion de Aptitudes por categorias*/
/*Contenedor */
.seccionAptitudes {
    background-color: #f8f9fa;
    padding: 1em;
    margin-top: 1em;
    box-shadow: 0 0 5px #343a40;
}

/*H2 titulo de seccion*/
.seccionAptitudes h2 {
    margin-top: 0;
}

/*Contenedor de aptitudes por cantegoria*/
.seccionAptitudes .categoriaAptitudes {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    gap: 1em;
    /* Espacio entre las secciones */
    background-color: #f9f9f9;
    padding: 1em;
    /* Añade un poco de relleno al contenedor */
}

/*Seccion individual de aptitudes*/
.seccionAptitudes .categoriaAptitudes .seccionPorCategoria {
    width: 40%;
    height: 0 auto;
    /* Establece un ancho mínimo de 250px */
    padding: 1.5em;
    border-radius: 1.5em;
    border: 1px solid #343a40;
    margin-bottom: 1em;
    /* Espacio entre las secciones */
}

/*Titulo de Secciones por categoria*/
.seccionAptitudes .categoriaAptitudes .seccionPorCategoria h3 {
    margin-top: 0;
    border-bottom: 1px solid #343a40;
}

/*Lista de descripcion de aptitudes*/
.seccionAptitudes .categoriaAptitudes .seccionPorCategoria ul {
    display: block;
    margin: 1em;
    padding: 0;
}

/*Fin de seccionAptitudes  por Categoria*/
/**/

/* Sección Experiencia Laboral y certificaciones*/
/*Experiencia Laboral*/
.redireccion {
    background-color: #f8f9fa;
    /* Color de fondo para la sección Experiencia Laboral */
    padding: 0em;
    margin-top: 1em;
    box-shadow: 0 0 5px #343a40;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Texto a con link*/
.redireccion .subtitulo a {
    font-size: large;
    color: #343a40;
    /* Color de texto principal */
}

.redireccion .subtitulo :hover {
    background-color: #5b6874;
    /* Color de texto principal */
}

/*Fin seccion redireccion */

/**/
/* Estilos para la sección de descripción del proyecto */
.seccionDescripcionProyecto {

    background-color: #f8f9fa;
    padding: 0.5em;
    margin: 1em 1em 1em 1em;
    box-shadow: 0 0 10px #343a40;
    border-radius: 1em;
    border: 0.1em solid #343a40;

}

/*Descricpcion del proyecto*/
.seccionDescripcionProyecto .descripcion {
    padding: 0.5em;
    border-radius: 1em;
    background-color: #f8f9fa;
    /*background-color: #e2e0e0;/*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.seccionDescripcionProyecto .descripcion .proyecto {
    margin: 0em 1em 0em 1em;
    font-size: 1.1rem;
    /* Tamaño de fuente para buena legibilidad */
    line-height: 1.6;
    /* Altura de línea para espacio entre líneas */
    color: #333;
}

.seccionDescripcionProyecto .descripcion .proyecto a {
    color: #343a40;
}

/*hover de link a*/
.seccionDescripcionProyecto .descripcion .proyecto a:hover {
    background-color: #d1d1d1;
}

/*Fin */

/**/
/* Footer */
.footer {
    display: block;
    background-color: #343a40;
    /* Color de fondo para el pie de página */
    color: white;
    text-align: center;
    padding: 0.5em;
}

.footer .contenedorFooter {
    display: block;
    align-items: center;
}

.footer a {
    color: #f8f9fa;
    text-decoration: none;
}

/* Links y atribucion  - .footerDetalles  contenedor*/
.footer .contenedorFooter .footerDetalles {
    display: block;
    align-items: center;
    text-align: center;
}

/*articulos de .footerDetalles*/
.footer .contenedorFooter .footerDetalles article {
    text-align: center;
    min-height: 10px;
}

/*articulo links con redireccion y atribucion de iconos*/
/* articulo   #link , ul #links */

/*-----   ul  #links     ----*/
.footer .contenedorFooter .footerDetalles #link #links {
    margin: 0em 1em;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    border-bottom: 2px solid #f8f9fa;
    justify-content: space-around;
}

/*----      article     #atribucionIconos                      -----*/
.footer .contenedorFooter .footerDetalles #atribucionIconos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0em 1em;
    margin-top: 0;
    padding: 0 0.5em;
    border-bottom: 2px solid #f8f9fa;
}

/*-----------  ul #atribucion -------*/
.footer .contenedorFooter .footerDetalles #atribucionIconos #atribucion {
    list-style: none;
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 0;
    margin-left: 1em;
}

.footer .contenedorFooter .footerDetalles #atribucionIconos #atribucion li {
    border-bottom: 2px solid #f8f9fa;
}

.footer .contenedorFooter .footerDetalles #atribucionIconos #atribucion a {
    margin-top: 0;
    font-size: 1.2em;
}

/*Creador */
/* articulo #info  con div informacion*/
.footer .contenedorFooter .footerDetalles #info {
    border-bottom: 2px solid #f8f9fa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0em 1em;
}

/*-----  div informacion  ------*/
.footer .contenedorFooter .footerDetalles #info .informacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

/*   div logos dentro de #info*/
.footer .contenedorFooter .footerDetalles #info .logos {
    width: 40%;
}

.footer .contenedorFooter .footerDetalles #info .logos ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1em 0em;
    gap: 1em;
    align-items: center;
    justify-content: space-around;

}

/*----     hover de footer /article/li    --- */
.footer .contenedorFooter .footerDetalles article #links li:hover,
.footer .contenedorFooter .footerDetalles article #atribucion li:hover {
    background-color: #5b6874;
}

/*Logo footer*/
.footer .contenedorFooter .footerDetalles .informacion .logos ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

/*Copyrigth*/
.footer .contenedorFooter .copy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

/*                        MEDIAS QUERRYS  ********************************************************************************************************



*/
/*Media para detalle de transicion entre foto y acerca de*/
@media(max-width:1382px) {
    .main .section-about {
        flex-direction: column;
        align-items: center;
    }

    .main .section-about .acerca-de {
        max-width: 100%;
        width: 0 auto;
    }
}

/*ARREGLA TRANSICION de tarjeta datos , para que se ordene mejor */
@media (max-width:1000px) {

    /*Seccion PersonalInfo*/
    .seccionPersonalInfo {
        flex-direction: column;
        align-items: center;
    }

    /*Tarjeta de datos*/
    .seccionPersonalInfo .datos {
        width: 80%;
        align-items: stretch;
        justify-content: center;
        text-align: center;
        /*Margen para distancia entre titulo de tarjeta fixed*/
        margin-top: 2em;
    }

    /*Tarjeta titulo con fixed*/
    .seccionPersonalInfo .datos h3 {
        top: -2.3em;
        left: auto;
        font-size: 1.5em;
    }

    /*Datos contacto*/
    .seccionPersonalInfo .datos .datosPersonales {
        align-items: center;
        width: 100%;
    }

    /*redireccion a links contacto*/
    .seccionPersonalInfo .datos .datosPersonales .Redes #redes {
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

}

/*Ajusta el tamaño de seccionAptitudes al minimizar */
@media(max-width:780px) {

    /*Display none para el nav de PC*/
    .header #navPc {
        display: none;
    }

    /**/
    /*Visible el nav movil*/
    .header #navMovil {
        display: block;
    }

    #abrir,
    #cerrar {
        display: block;
    }

    /**/
    /*barra movil*/

    /**/

    /*Div de aptitudes - */
    .seccionAptitudes .categoriaAptitudes {
        flex-direction: column;
        align-items: center;
    }

    /*Tarjeta de aptitudes */
    .seccionAptitudes .categoriaAptitudes .seccionPorCategoria {
        width: 90%;
        width: 0 auto;
        text-align: justify;
        margin: 0;
    }
}

/*Fin Querry min-width 780 px*/
/*Media Querry para celular medio 854 x 480 */
/*    ORIENTACION VERTICAL : portrait*/

@media(max-width:480px) and (orientation:portrait) {
    body {
        font-size: 0.9em;
        text-align: center;

    }

    /* section-about*/

    .section-about {
        position: relative;
        top: -1.1em;

        margin: 0%;
        padding: 0;
        align-items: center;
    }

    .section-about .foto {
        margin-top: -1.1em;
    }

    .section-about .foto img {
        max-width: 100%;
        max-height: auto;
    }

    .section-about .acerca-de {

        width: 0 auto;
        padding: 0.8em;
    }

    /*/Titulo de seccion acerca de */
    .section-about .acerca-de h2 {
        font-size: medium;
        padding-top: 0.8em;
    }

    .section-about .acerca-de p {
        color: #343a40;
        font-size: medium;

        text-align: left;
    }

    /*Tarjeta datos personales */
    .seccionPersonalInfo {
        align-items: center;
        justify-content: center;
    }

    .seccionPersonalInfo .datos {
        width: 75%;
        margin-left: 0;
        margin-right: 0;
    }

    /*seccion de titulo de tarjeta - fixed*/
    .seccionPersonalInfo .datos h3 {
        padding: 0.5em;
        font-size: medium;

    }

    /* Secccion de tarjeta  ajustamos la letra*/
    .seccionPersonalInfo .datos .datosPersonales,
    .seccionPersonalInfo .datos #secundario1 {

        font-size: 1.2em;
    }

    /*Fin tarjeta datos personales*/

    /**/
    /*Secion Aptitudes Destacadas*/
    .aptitudesDestacadas,
    .aptitudesDestacadas ul li {
        font-size: medium;
    }

    /*Fin seccion Aptitudes destacadas*/
    /**/
    /*Seccion Aptitudes*/
    .seccionAptitudes {
        margin: 0;
        padding: 0;
        font-size: 1em;
    }

    .seccionAptitudes .categoriaAptitudes {
        padding: 1em 0em 1em 0em;

    }

    .seccionAptitudes .categoriaAptitudes .seccionPorCategoria {
        width: 80%;
        margin: 0;
        font-size: 1.1em;
    }

    /*Fin seccionAptitudes*/

    /*Seccion redireccion*/
    .main .redireccion {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    .redireccion .subtitulo h2 {
        font-size: large;
    }

    /*Descripcion de proyecto*/
    .main .seccionDescripcionProyecto .descripcion .proyecto {
        font-size: medium;
    }

    /*Fin SeccionDescripcionProyecto*/
    /**/
    /*Footer*/
    .footer .contenedorFooter .footerDetalles {
        display: block;
    }

    .footer .contenedorFooter .footerDetalles article {
        display: block;
        margin-top: 0.5em;
        padding: 0.5em 0em 0.5em 0em;
        box-shadow: 0 0 3px #f8f9fa;
    }

}

/**/
@media(max-width:230px) {
    body {
        font-size: small;
    }

    body h2,
    h3 {
        font-size: 0.9em;
    }

    .section-about .acerca-de p {
        font-size: small;
    }

    /**/
    .seccionPersonalInfo .datos h3 {
        font-size: 0.9em;
        width: 80%;
    }

    .seccionPersonalInfo .datos p .seccionPersonalInfo .datos .datosPersonales ul {
        font-size: 0.7em;
    }

    /**/
    .seccionAptitudes .categoriaAptitudes .seccionPorCategoria {
        width: 0 auto;
        min-height: 10%;
        margin-left: 0;
        padding-left: 0.5em;
        margin-bottom: 0.5em;
    }


    .seccionAptitudes .categoriaAptitudes .seccionPorCategoria ul li {
        margin-left: 0.6em;

        width: 100%;
    }

    /**/
    .redireccion .subtitulo h2 {
        font-size: small;
    }

    /**/
    .seccionDescripcionProyecto .descripcion p {
        font-size: 0.8em;
    }
}