/* Reset general */




/* Estilos para la sección Certificaciones */
/*Seccion contenedora*/
.seccion1{
    margin: 1em;
}

/*div contenedor de certificados*/
.seccion1 .certificados {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    background-color: #f1f1f1;
    /* Color de fondo para la sección de certificaciones */
    gap: 1em;
    /* Espacio entre certificaciones */
    padding: 0.3em;
    border-radius: 1.8em;
    
}

/*Seccion de cada certificado*/
.seccion1 .certificados  .certificacion {
    display: flex;
    flex-direction: column;
    border: 1px solid #343a40;
    padding: 0.6em;
    width: 45%;
    height: 100%;
    margin: 0.6em;
    border-radius: 1em;
    box-shadow: 0 0 5px  #343a40;
}

/*Nombre del titulo de la certificacion*/
.seccion1 .certificados .certificacion .nombre {
    font-size: 1.2em;
    text-align: center;
  
}
/*Contiene certificadora y fecha de certificacion*/
.seccion1 .certificados .certificacion .emisores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* Espacio entre elementos */
    margin-bottom: 10px;
    border-bottom: 2px solid #343a40 ;
}
/*Nombre de la empresa emisora del certificado*/
.certificacion .emisor {
    font-style: italic;
    color: #666;
}
/*Fecha de emision o certificacion*/
.certificacion .fecha {
    color: #666;
}
/*div resumen */
/*Texto de conocimientos aprendidos*/
.seccion1 .certificados .certificacion .resumen {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 1em;
}
/*Seccion de aptitudes*/

.seccion1 .certificados .certificacion .aptitudes{
 border-style: groove;
 border-radius: 1em;
 padding: 0.3em;
 background-color: #f3f4f5;
 margin-bottom: 0em;
}
/*Seccion aptitudes*/
.seccion1 .certificados .certificacion .aptitudes h4{
    margin-top: 0;
    text-align: center;
    border-bottom: 0.5px solid #343a40;
}
/*ul de aptitudes*/
.seccion1 .certificados .certificacion .aptitudes ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: flex-start;
    justify-content: space-around;
}


/*             MEDIAS QUERRYS*/
/*media querry max width 1000px*/
@media (max-width :1010px){
    .seccion1 .certificados {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .seccion1 .certificados .certificacion{
        width: 95%;
    }
}

    /**/
    /*Media */
@media (max-width :768px) {
    body {
        margin: 0;
        padding: 0;
    }

    /*Seccion Certificaciones*/
    .seccion1{
        margin: 0em;
    }
    .seccion1 .certificados{
        margin: 0;
        padding: 0.5em;
       
    }
    .seccion1 .certificados .certificacion{
       padding: 0.5em;       
    }


    
}

/*Media celular */
@media (max-width :560px) {
    
    .seccion1 .certificados .certificacion{
        padding:0em  0.5em;
        width: 90%;
        width: 0 auto;
    }


    }