/* Reset general */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    /* Color de fondo principal */
    color: #343a40;
    /* Color de texto principal */
}

ul {
    list-style: none;
    /* Elimina los estilos de lista */
}

a {
    text-decoration: none;
    /* Elimina el subrayado de los enlaces */
    color: inherit;
    /* Hereda el color de texto del padre */
}

/* Estilos para el encabezado */

.container header {
    margin: 0;
    display: flex;
    background-color: #343a40;
    /* Color de fondo para el encabezado */
    color: white;
    /* Color de texto para el encabezado */

    align-items: center;
    justify-content: space-between;

}


.container header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5em;
    /* Espacio entre elementos del menú */
}

/* Estilos para la sección Certificaciones */
.seccion1{
    margin: 1em;
}
.certificados {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    /* Color de fondo para la sección de certificaciones */
    gap: 1em;
    /* Espacio entre certificaciones */
    padding: 0.3em;
    border-radius: 1.8em;
    
}

.certificacion {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    /* Borde ligero */
    padding: 0.6em;
    max-width: 350px;
    /* Ancho máximo de la certificación */
    width: 100%;
    /* Para ocupar el espacio disponible */
    margin: 0.6em;
    /* Espacio inferior entre certificaciones */
    
}

.certificacion .nombre {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.certificacion .emisores {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Espacio entre elementos */
    margin-bottom: 10px;
}

.certificacion .emisor {
    font-style: italic;
    color: #666;
}

.certificacion .fecha {
    color: #666;
}

.certificacion .Conocimientos {
    line-height: 1.6;
}

/*Footer*/
/* Footer */
.footer {
    background-color: #343a40; /* Color de fondo para el pie de página */
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #ffffff; /* Color de enlace para el pie de página */
    text-decoration: none;
  }
     /*Logo footer*/
  .footer .logos ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 80%;
  }


@media (max-width :768px) {
    body {
        margin: 0;
        padding: 0;
    }

    /*Header */
    .container header {
        margin: auto;
        padding: 20px;

    }

    .container nav {
        font-size: 0.6em;
        margin-left: 2em;
    }

    .container ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.3em;
    }
    /*Seccion Certificaciones*/
    .seccion1{
        margin: 0.5em;
    }
    .certificados{
        background-color: #eff0f3;
        margin: 0;
        

    }
    .seccion1 .certificacion{
       padding: 1em;
       background-color: #f8f9fa;
       border-radius: 1.5em;
       border: 1px solid #343a40;
    }
    
}