/* Estilos generales */

.seccion1 {
    background-color: #fff;
    padding: 2em;
    margin-top: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3em;

}

.seccion1 h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

/*div contenedor de experiencias*/
.seccion1 .experiencias {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;


}

/*Seccion con cada experiencia*/
.seccion1 .experiencias .experiencia {
    background-color: #fff;
    width: 80%;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 1em;
}

.seccion1 .experiencias .experiencia .detalles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    border-bottom: 1px solid #343a30;
}

/*Cargo del puesto*/
.cargo {
    font-size: 1.5rem;
    color: #333;
}

/*fecha de inicio y fin*/
.fecha h6 {
    margin: 0;
    color: #555;
}

/*Lugar de trabajo*/
.lugar {
    color: #666;
}

/*descripcion del puesto*/
.seccion1 .experiencias .descripcion {
    margin-bottom: 20px;
    line-height: 1.6;
}

/*separa descripcion y aptitudes*/
.seccion1 .experiencias .separador {
    border-color: #343a30;
    border: 2px solid #343a30;
    margin-bottom: 0.5em;
}

/*contenedor de aptitudes */
.seccion1 .experiencias .aptitudes {
    background-color: #f9f9f9;
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 1.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.seccion1 .experiencias .aptitudes h4 {
    color: #333;
    font-size: 1.5rem;
    margin: 0;
}

.seccion1 .experiencias .aptitudes ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    gap: 1.2em;

}

@media (max-width: 768px) {
    /*Header*/


    .seccion1 {
        border-radius: 1em;
        padding: 0.5em;
    }

    .seccion1 .experiencias {
        gap: 0em;
    }

    .seccion1 .experiencias .experiencia {
        margin: 1em 0em;
        width: 90%;
    }

    .seccion1 .experiencias .aptitudes {
        width: 0 auto;
    }

    .seccion1 .experiencias .aptitudes ul {
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
    }


}